repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff-format

  - repo: local
    hooks:
      - id: generate-stubs
        name: regenerate-stubs
        entry: bash -c "pixi run -e dev generate_and_stage_stubs"
        language: system
        pass_filenames: false      