repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: local
    hooks:
    - id: ty
      name: ty
      entry: pixi run -e dev ty check
      language: system
      types: [python]
      pass_filenames: false      